*{
    margin:0px;
    padding:0px;
}

.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    color: RGB(0,204,204);
   font-weight: bold;
   

}

.powerbank{
    margin-left: 2%;
}

.panneau{
    margin-right: 2%;
}

.fantome{
    width:200px;
}

.dropbtn {
  background-color: black;
  color: RGB(0,204,204);
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 5%;
  font-weight: bold;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:RGB(0,204,204);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: RGB(0,204,204);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: white;
    color:RGB(0,204,204);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color:white;
}

.superpile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.bienvenue{
    height: fit-content;
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    color: RGB(0,204,204);
    font-weight: bold;
    margin-bottom: 5%;
    text-align: center;

}

.acceder{
    height: fit-content;
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    color: RGB(0,204,204);
    font-weight: bold;
    text-align: center;

}

.guerredesboutons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.bouton{
    background-color: RGB(0,204,204) ;
    height:75px;
    width: 100px;
    color: white;
    border-radius: 10%;
    margin-right: 7%;
    margin-left: 7%;
    margin-bottom: 4%;
    
}
a{
  color: RGB(0,204,204);
  
}
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 201px;
  height: 201px;
  overflow: hidden;
}
.slides {
  -webkit-animation: slider 16s infinite ease-in-out;
  animation: slider 16s infinite ease-in-out; /* nombre de slide * temps par slide, ici on choissis de passer 4s par slide donc 4 slides * 4s = 16s*/
  position: absolute;
  left:0; top:0;
  width: 400%; /* nombre de slides * 100%, ici 4 donc 400% */
}
.slides img {
  display: inline-block;
  width:200px;
  height: 200px;
}
.slides {
  animation: slider 16s infinite ease-in-out; /* nombre de slide * temps par slide, ici on choissis de passer 4s par slide donc 4 slides * 4s = 16s*/
}

@keyframes slider {
  0%, 20%, 100%   { left: 0%; }  
  25%, 45%        { left: -100%; }  
  50%, 70%        { left: -200%; }
  75%, 95%        { left: -300%; }  
}