
* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --couleur1: black;
    --couleur2: white;
    --couleur3: rgb(100, 164, 198);
    --couleur4: goldenrod;

}

body {
    min-width: auto;
    font-family: 'Inconsolata', monospace;
    background-color :  var(--couleur3);

}
header{
    position:fixed;
    height:75px;
    min-width:100%;
    top:0px;
    background-color:  var(--couleur1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    text-shadow: 0 0 7px #fff,
    0 0 42px rgb(11, 82, 110),
    0 0 77px rgb(18, 198, 230);
    z-index: 1000;
    
}
header>*
{
    margin-left:10px;
    margin-right:10px;
}

header>nav {
    min-Width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 950px;
   
    }
header>nav>ul{
       
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
 
   
    }
    li, #F, #E{
        font-family: 'Inconsolata', monospace;
        font-size: 20px ;
        padding-left: 5px;
        padding-right: 5px;
        list-style: none;
        min-width: 120px;
        text-shadow: 0 0 7px #fff,
        0 0 42px rgb(11, 82, 110),
        0 0 77px rgb(18, 198, 230);
    }
 

  #G,#I {
        font-family: 'Inconsolata', monospace;
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
        list-style: none;
        min-width: 120px;
        
    }
    #J{
        font-family: 'Inconsolata', monospace;
        font-size: 15px;
        padding-left: 5px;
        padding-right: 5px;
        list-style: none;
        min-width: 120px;


    }

header>nav>ul * {
        color: var(--couleur3);
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 20px;
        margin-left: 20px;
       ;
        
    }
header>nav>ul>li *:hover {
      
      color: var(--couleur4);
     

    }
 


section {
    height: 100vh;
    width: 100vw;
    top: 0px;
    background-color: var(--couleur1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

h1 {
    color: var(--couleur3);
    text-transform: uppercase;
    font-size: 30px;
    min-width: auto;
   
    } 

h2, span {
    color: var(--couleur3);
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    text-shadow: 0 0 7px #fff,
    0 0 42px rgb(11, 82, 110),
    0 0 77px rgb(18, 198, 230);
}
img {

    width: 25vw;
    min-height: 25vh;
    margin-top: 10px;
    margin-bottom: 10px;
}
img{
animation: fadein 3s;
-moz-animation: fadein 3s; /* Firefox */
-webkit-animation: fadein 3s; /* Safari et Chrome */
-o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInAnimation { 
0% { 
opacity: 0; 
} 
100% { 
opacity: 1; 
} 
} 
#menu{

    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 80vw;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    margin-bottom: 10px;

}

#menu * {
    color: var(--couleur3);
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5px;
    padding: 2px 2px 2px 2px;
  

}

#menu *:hover {
     color: var(--couleur4);
    

}

#a,#b{
    font-size: 40px;
    text-shadow: 0 0 7px #fff,
    0 0 42px rgb(11, 82, 110),
    0 0 77px rgb(18, 198, 230);
    min-width: auto;
}
#a{
   
animation: fadein 8s;
-moz-animation: fadein 8s; /* Firefox */
-webkit-animation: fadein 8s; /* Safari et Chrome */
-o-animation: fadein 8s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInAnimation { 
0% { 
opacity: 0; 
} 
100% { 
opacity: 1; 
} 
} 
#b{
    animation: fadein 12s;
    -moz-animation: fadein 12s; /* Firefox */
    -webkit-animation: fadein 12s; /* Safari et Chrome */
    -o-animation: fadein 12s; /* Opera */
    }
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* sur Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* sur Safari et Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* sur Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
    
    @keyframes fadeInAnimation { 
    0% { 
    opacity: 0; 
    } 
    100% { 
    opacity: 1; 
    } 
    } 
    
#footer {
    background-color: var(--couleur1);
    height: 2vh;
    min-width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    font-size: 12px;
    
}
div.admin{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    background-color:var(--couleur1);
    margin-top: 15px;
    min-width: auto;
}
a.E{
color:var(--couleur1);
font-size: 30px;
margin-right: 1650px;
}
a.E *:hover {
    color:var(--couleur4);


}
a.F{ color:var(--couleur4);}


#footer>div {
    background-color: var(--couleur1);
    margin-left: 10px;
    margin-right: 10px;
   
   

}
#footer>div>a{
  color: var(--couleur3);
  font-family: 'Goldman', cursive;
  font-size: 12px;
  text-decoration: none;

}
.polling_message {
    color: white;
    float: left;
    margin-right: 2%;
  }
  
  .view_port {
    background-color: black;
    height: 25px;
    width: 100%;
    overflow: hidden;
  }
  
  .cylon_eye {
    background-color: var(--couleur3);
    background-image:         linear-gradient(to right, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
    color: white;
    height: 100%;
    width: 20%;
  
    -webkit-animation: 4s linear 0s infinite alternate move_eye;
            animation: 4s linear 0s infinite alternate move_eye;
  }
  
  @-webkit-keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }
          @keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }

/**************************************************************/
/*          Partie connexion                                  */
/**************************************************************/
.connexion{
    background-color: var(--couleur1);
    min-width: 50vw;
    height: 100vh;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
border: solid 3px var(--couleur3);
border-radius: 10%;
padding-left: 30px;
padding-right: 30px;
padding-top: 30px;
padding-bottom: 30px;

}

label{
color:  var(--couleur3);


}
div.log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
input{
height: 40px;
min-width: 320px;
margin-bottom: 15px;
}
input.button1{
border: solid 3px var(--couleur3);
background-color: var(--couleur4);
height: 35px;
min-width: 90px;
margin-top: 10px;
border-radius: 10%;

}
div.logvalid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center

}

/**************************************************************/
/*          Partie produit                                    */
/**************************************************************/
section.produit{
    background-color: var(--couleur1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    height: auto;
    padding-top: 20px;
    text-shadow: 0 0 7px #fff,
    0 0 42px rgb(11, 82, 110),
    0 0 77px rgb(18, 198, 230);
   
}
h1.titre{
font-size: 45px;

}
div.table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: auto;
    height: auto;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
    padding-top: 20px;

}

div.card {

    border: solid 3px var(--couleur3);
    border-radius: 10%;
    color: var(--couleur3);
    font-size: 18px;
    background-color: var(--couleur1);
    margin-left: 50px;
    min-width: 300px;
    min-height: 200px;
    margin-bottom: 20px;
    
}

h3.cardheader{
font-size: 18px;
border-bottom: solid 3px var(--couleur3);
overflow-wrap: break-word;
color:var(--couleur4);

}

h5.cardtitle{
    font-size: 15px;
}
img .imgproduit {
min-width:100px;
height: 100px;

}
h6.card-subtitle{
    font-size: 15px;
    margin-bottom: 5px;

}
h3.cardfooter{
    font-size: 18px;
    border-top: solid 3px var(--couleur3);
    color:var(--couleur4);
}
section.part2{
    background-color: var(--couleur1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: auto;
    height: auto;
    margin-top: 10px;
}
h3{
    color:var(--couleur4);
    font-size: 20px;
    text-shadow: 0 0 7px #fff,
    0 0 42px rgb(11, 82, 110),
    0 0 77px rgb(18, 198, 230);
    

}
div.listes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color:var(--couleur3);
    background-color: var(--couleur1);
    min-width: auto;

}
div.liste1, div.liste2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--couleur3);
    text-shadow: 0 0 7px #fff,
    0 0 42px rgb(11, 82, 110),
    0 0 77px rgb(18, 198, 230);
    padding-top: 20px;
    font-size: 20px;
}
div.liste2{
    margin-left: 130px;
    
}
h4{
    color:var(--couleur4);
    font-size: 20px;
    text-shadow: 0 0 7px #fff,
    0 0 42px rgb(11, 82, 110),
    0 0 77px rgb(18, 198, 230);
    padding-top: 20px;
    
}
div.label{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width :90vw; ;
    padding-top: 20px;
   
   
}

div.l1{
    width: 80px;
    height: 80px;
    border: solid 3px  var(--couleur3);
    margin: 5px;
    background-image: url("../../assets/images/Label_Rouge.png");
    background-size: cover;
}
div.l2{
    width: 160px;
    height: 80px;
    border: solid 3px  var(--couleur3);
    margin: 5px;
    background-image: url("../../assets/images/AB.png");
    background-size: cover;
}

div.l3{
    width: 120px;
    height: 80px;
    border: solid 3px  var(--couleur3);
    margin: 5px;
    background-image: url("../../assets/images/Affiche-Médailles-2018.png");
    background-size: cover;
}
div.l4{
    width: 80px;
    height: 80px;
    border: solid 3px  var(--couleur3);
    margin: 5px;
    background-image: url("../../assets/images/Noir-De-Bigorre.jpg");
    background-size: cover;
}
a.H{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    color:var(--couleur3);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}
/**************************************************************/
/*          Partie emplacement                                   */
/**************************************************************/
section.planning{
    background-color: var(--couleur1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    height: auto;
    padding-top: 20px;
    text-shadow: 0 0 7px #fff,
    0 0 42px rgb(11, 82, 110),
    0 0 77px rgb(18, 198, 230);
   
}
table{
border: solid 3px var(--couleur3);
display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
     min-width: 100vw;


}
th{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

td{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}